* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

body {
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  body {
      font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  body {
      font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  body {
      font-size: 12px;
  }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
    line-height: 1;
  }
  
  @media (min-width: 1200px) {
    .logo {
      width: 280px;
    }
  }
  
  .logo img {
    max-height: 50px;
    margin-right: 6px;
  }
  
  .logo span {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  .header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 30px rgba(255, 255, 255, 0.1);
    padding-left: 20px;
  }
  
  .header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #fff;
  }

  
  /*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
  .header-nav ul {
    list-style: none;
  }
  
  .header-nav>ul {
    margin: 0;
    padding: 0;
  }
  
  .header-nav .nav-icon {
    font-size: 22px;
    color: #fff;
    margin-right: 25px;
    position: relative;
  }
  
  .header-nav .nav-profile {
    color: #012970;
  }
  
  .header-nav .nav-profile img {
    max-height: 36px;
  }
  
  .header-nav .nav-profile span {
    font-size: 14px;
    font-weight: 600;
  }
  
  .header-nav .notifications {
    inset: 8px -15px auto auto !important;
  }
  
  .header-nav .notifications .notification-item:hover {
    background-color: #f6f9ff;
  }
  
  .header-nav .profile {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
  }
  
  .header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #444444;
  }
  
  .header-nav .profile .dropdown-header span {
    font-size: 14px;
  }
  
  .header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
  }
  
  .header-nav .profile .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
  }
  
  .header-nav .profile .dropdown-item:hover {
    background-color: #f6f9ff;
  }

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
  }
  
@media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
    margin-bottom: 10px;
    color: #fff;
}
  
.pagetitle h1 {
    margin-bottom: 0;
    font-weight: 600;
}

.pagetitle li {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Date Card
--------------------------------------------------------------*/
.date-container {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 2px 30px rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
    opacity: 0.5;
    display: block;
    /* flex-wrap: nowrap */
}

.cal-icon {
  font-size: 2em;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
.table-title h3 {
  color: white;
}

.emp-icon {
  padding-right: 10px;
  font-size: 2em;
  color: #F49021;
}

button {
  border: 2px solid #ee5622;
  background-color: #ee5622;
  border-radius: 0.9em;
  margin: 1.5em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
 }
 
 button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 button:hover {
  background-color: #eca72c;
 }