{% extends 'base.html' %}

{% block head %}
<title>Login to Ride4Cast</title>
    
{% endblock %}

{% block body %}
<div class="bg-container"></div>
    <div class="main-container">
        <h1 class="welcome"><strong>WELCOME</strong></h1>
        <div class="form-container">
          <form action="">
            <div class="mb-4">
              <input type="email" id="loginEmail" class="form-control email text-center" placeholder="Email" style="height: 50px; width: 300px;">
            </div>
            <div class="mb-5">
              <input type="password" id="loginPass" class="form-control password text-center" placeholder="Password" style="height: 50px; width: 300px;">
            </div>
            <div class="mb-4 text-center">
              <button type="button" class="login-btn">Login</button>
            </div>
          </form>
          <h2 class="text1 mb-4">Don't have an account? <span class="rgstr-text"><a href="signup-page.html">Register</a></span></h2>
          <hr>
        </div>
        <h2 class="text2 mb-4">or login with</h2>
        <button type="button" class="fb-btn mb-2"><i class="bi bi-facebook"></i>Facebook</button>
        <button type="button" class="google-btn mb-2"><img width="16" height="16" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/></i>Google  </button>
      </div>

{% endblock %}